<wid_header></wid_header>

<mod_main_menu></mod_main_menu>

<div class="container">
    <div class="products-page">
        <div id="sidebar">
            <mod_sidebar></mod_sidebar>
        </div>
        <div class="new-product">
            <mod_detail_product [product]="selectedProduct"></mod_detail_product>
            <mod_comment></mod_comment>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

<mod_related_products></mod_related_products>

<mod_news_letter></mod_news_letter>

<wid_footer></wid_footer>