<div class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

    <wid_admin_header></wid_admin_header>
    <mod_admin_left_sidebar></mod_admin_left_sidebar>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <mod_admin_content_header></mod_admin_content_header>

        <!-- Main content -->
        <section class="content">
            <mod_admin_general_info></mod_admin_general_info>

            <div class="row">
                <mod_admin_chart></mod_admin_chart>
                <!-- Main row -->
                <mod_admin_info></mod_admin_info>
            </div>
            <!-- /.row -->


        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <wid_admin_footer></wid_admin_footer>

</div>
<!-- ./wrapper -->
</div>