<!-- <admin_home></admin_home> -->
<!--<admin_manager_product></admin_manager_product>-->
<!--<admin_manager_customer></admin_manager_customer>-->
<!--<admin_manager_user></admin_manager_user>-->
<!--<admin_manager_promotion></admin_manager_promotion>-->
<!--<admin_manager_partner></admin_manager_partner>-->
<!--<admin_manager_bill></admin_manager_bill>-->
<!--<admin_manager_news></admin_manager_news>-->
<!--<admin_manager_category_product></admin_manager_category_product>-->
<!--<admin_manager_category_user></admin_manager_category_user>-->
<!--<admin_manager_category_customer></admin_manager_category_customer>-->
<!--<admin_manager_menu></admin_manager_menu>-->
<!--<admin_product_form></admin_product_form>-->
<!--<admin_user_form></admin_user_form>-->
<router-outlet></router-outlet>

<!--<home></home>-->
<!--<products></products>-->
<!--<contact></contact>-->
<!--<register></register>-->
<!--<single></single>-->
<!--<account></account>-->
<!--<checkout></checkout>-->